body{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: #ece8ec;
}
.nav-link{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  list-style: none;
}